body {
    background-color: var(--bgevent);
}
.event-container {
    display: none;
}

.event-container-mb {
    display: block;
    margin-top: 5em;
}

.event-banner-mb {
    background-color: var(--do);
    height: 3em;
}

.event-banner-mb img {
    height: 3em;
}

.event-main-mb {
    position: relative;
    width: 100%;
    background-color: var(--bgevent);
}

.event-tree-mb {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: var(--bgevent);
}

.tree-mb {
    position: relative;
    width: 50%;
    display: block;
    margin: 0 auto;
}

.event-h1-mb {
    position: absolute;
    top: 8.5em;
    width: 100%;
    text-align: center;
    color: var(--do);
}

.event-h1-mb span {
    font-weight: 700;
}

.event-btn-mb {
    position: absolute;
    bottom: 5em;
    width: 100%;
}
.tree-p-mb {
    width: 100%;
    text-align: center;
    color: var(--do);
    padding: 1em 0;
}
.tree-btn-mb {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.tree-video-mb {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.event-menu-mb {
    position: absolute;
    top: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menu-element-mb {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0 1em;
}

.menu-element-mb p {
    padding: 0.2em 0;
    color: var(--do);
    font-size: 12px;
}

.event-icon-mb {
    width: 3em;
    height: 3em;
}

.e-modal-mi-mb {
    display: none;
    position: absolute;
    z-index: 6;
    top: 10em;
    width: auto;
    height: auto;
    background-color: var(--trang);
    border-radius: 20px;
}

.e-modal-mb {
    padding: 1em 0 1em 1em;
    width: 20em;
}

.e-modal-mb h1 {
    text-align: center;
    padding: 1em 0;
    color: var(--do);
    font-weight: 600;
}

.e-close-mb {
    color: var(--do);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5em;
}

.list-mb {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0.2em 0;
    width: 90%;
}

.event-chat-mb {
    position: absolute;
    right: 0;
    bottom: 10em;
}

.e-modal-chat-mb {
    display: none;
    position: absolute;
    z-index: 6;
    bottom: 5em;
    right: 2.5em;
    width: auto;
    height: auto;
    background-color: var(--trang);
    border-radius: 20px;
}

.e-chat-mb {
    padding: 1em 0 1em 1em;
    width: 20em;
    height: 450px;
}

.e-close-chat {
    position: absolute;
    z-index: 20;
    top: 0.5em;
    right: 0.5em;
    color: var(--do);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 0.5em;
}

.event-chat {
    position: relative;
    width: 100%;
    height: 450px;
}

.event-chat h1 {
    text-align: center;
    padding: 0.5em 0 1em 0;
    color: var(--do);
    font-weight: 700;
}

#eBtnChatMb {
    display: block;
}

.event-chat-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.panel-body {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70%;
    background-color: var(--trang);
    border-radius: 20px;
}

.chat {
    list-style: none;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.chat-body.clearfix {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 0.5em;
}

strong.primary-font {
    font-weight: 700;
    padding-right: 0.5em;
    color: var(--do);
}

.body-chat p {
    word-wrap: break-word;
    width: 200px;
    padding-right: 0.5em;
    color: var(--do);
}

.panel-footer {
    width: 100%;
    height: auto;
    background-color: var(--trang);
    border-radius: 10px;
}

.input-group {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: var(--trang);
    border-radius: 10px;
}

input#btn-input {
    width: 80%;
    height: 35px;
    border: none;
    border-bottom: 1px solid var(--do);
    padding: 0.5em;
    margin-left: 0.5em;
}

span.input-group-btn {
    width: 20%;
}

button#btn-chat {
    width: 100%;
    height: 4em;
    border: none;
    background-color: transparent;
    color: var(--do);
}

@media (max-width: 1440px) {
    .tree-video-mb {
        height: 50%;
    }
}
@media (max-width: 1200px) {
    .tree-mb {
        width: 100%;
    }
}

@media (max-width: 998px) {
    .event-container-mb {
        margin-top: 3em;
    }
    .tree-mb {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .tree-mb {
        width: 80%;
    }
}
@media (max-width: 550px) {
    .tree-mb {
        width: 100%;
    }
    .tree-btn-mb {
        width: 60%;
    }

    .e-modal-chat-mb {
        bottom: 5em;
        right: 1em;
    }

    .event-chat-mb {
        right: 0;
        bottom: 0em;
    }
}
