body {
    background-color: var(--bgevent);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border: none;
    outline-width: 0;
}

.event-container {
    padding-top: 80px;
    background-color: var(--bgevent);
    height: auto;
}

.event-container-mb {
    display: none;
}

.event-banner {
    background-color: var(--do);
}

.event-main {
    height: 50em;
    background-color: var(--bgevent);
    position: relative;
}

.bg-element-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--bgevent);
}

.bg-video {
    display: block;
    margin: 0 auto;
}

.bg-element-2 {
    position: absolute;
    top: 30px;
    right: 10%;
    height: 90%;
}

.event-tree {
    position: absolute;
    top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
}

/* ======================= */
.event-menu {
    position: absolute;
    z-index: 2;
    top: 10em;
    left: 10em;
}

.event-rule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    padding-bottom: 1em;
}

.eventicon {
    cursor: pointer;
}

.eventicon:hover {
    padding-left: 1em;
}

.event-rule p {
    padding-bottom: 0.5em;
    color: var(--do);
    font-size: 16px;
    font-weight: 600;
}
/* ======================= */
/* Cây Hái Lộc */
.tree-text-h1 {
    padding: 1em 0;
    font-size: 30px;
    color: var(--do);
    font-weight: 500;
}

.tree-text-h1 span {
    font-size: 30px;
    font-weight: 800;
}

.tree-img {
    width: 30em;
}
.tree-text {
    padding: 1em 0;
}
.tree-btn {
    width: 20em;
    cursor: pointer;
}

.tree-text-p {
    padding: 1.5em 0;
    font-size: 16px;
    color: var(--do);
    font-weight: 500;
}

.e-modal-que {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 100;
    padding-top: 5em;
    width: 100%; /* Full width */
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.e-modal-content-que {
    width: 25%;
    border-radius: 20px;
    height: auto;
    margin: auto;
    position: relative;
}

.e-close-que {
    color: var(--do);
    float: right;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
    padding: 0em;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 100%;
    background-color: var(--trang);
}

.e-modal-content-que img {
    width: 100%;
}

#eModalQue>.e-modal-content-que {
    animation: tada 2200ms ease-in-out both
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

/* ======================= */
/* Style event-menu */

/* ======================== */
/* Mission */
.e-modal-mi {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 5;
    left: 7em;
    top: 0em;
    width: 20em;
    height: auto;
    overflow: visible;
}

/* Modal Content */
.e-modal-content-mi {
    background-color: var(--trang);
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 1em;
}

.e-modal-content-mi h1 {
    padding: 2em 1em;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--do);
}

/* The Close Button */
.e-close-mi {
    color: var(--do);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.e-close-mi:hover,
.e-close-mi:focus {
    color: var(--do);
    text-decoration: none;
    cursor: pointer;
}

/* =========================== */
.list-element {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    width: 18.5em;
}

.list-element p {
    padding: 0;
}

.check-mi {
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.pretty.p-default.p-curve.p-thick {
    width: 0.5em;
    margin-top: 0.2em;
}

.label-mi {
    color: var(--do);
    height: auto;
    font-weight: 400 !important;
}



/* ============================ */
/* Live Chat */
.event-chat {
    position: absolute;
    top: 5em;
    right: 10em;
    width: 350px;
    height: 600px;
}

.event-chat h1 {
    text-align: center;
    padding: 1em 0;
    color: var(--do);
    font-weight: 600;
}
.event-chat-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.panel-body {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--trang);
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 1em;
    scroll-padding: 1em;
}

.chat {
    list-style: none;
    /* overflow-y: scroll; */
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 1em;
}

.panel-footer {
    width: 100%;
    height: auto;
    background-color: var(--trang);
    border-radius: 10px;
}

.input-group {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: var(--trang);
    border-radius: 10px;
}

span.input-group-btn {
    width: 20%;
}
button#btn-chat {
    width: 100%;
    height: 4em;
    border: none;
    background-color: transparent;
    color: var(--do);
}

input#btn-input {
    width: 80%;
    height: 35px;
    border: none;
    border-bottom: 1px solid var(--do);
    padding: 0.5em;
    margin-left: 0.5em;
}
input#btn-input::placeholder {
    font-size: 10px;
    font-style: italic;
}

.chat-body.clearfix {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 0.5em;
}

strong.primary-font {
    font-weight: 700;
    padding-right: 0.5em;
    color: var(--do);
}

.body-chat p {
    word-wrap: break-word;
    width: 200px;
    padding-right: 0.5em;
}

.event-chat-main p {
    color: var(--do);
}

.event-chat-main span {
    font-weight: 600;
}

.event-chat-input {
    width: 100%;
    height: 10%;
    background-color: var(--trang);
    border-radius: 20px;
    padding: 0.7em 1em;
    margin-bottom: 1em;
}

.input-gr {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.chat-ava {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 0.5em;
}

.send-icons {
    width: 20px;
    height: 20px;
}

.input-gr input {
    border: none;
    border-bottom: 1px solid var(--do);
    padding: 0.2em;
}

.input-gr input::placeholder {
    font-size: 10px;
    font-style: italic;
}

.input-gr button {
    padding: 0 0.5em;
    border: none;
    background-color: transparent;
    color: var(--do);
}

#eBtnChatMb {
    display: none;
}

.e-close-chat-mb {
    display: none;
}
/* ============================ */
/* event-noti */

.event-noti {
    position: absolute;
    left: 10em;
    bottom: 5em;
    width: 30em;
    height: 5em;
    border-radius: 20px;
}

.event-noti p {
    font-size: 14px;
    color: var(--do);
    padding: 0.2em 1em;
}

.event-noti span {
    font-weight: 600;
}

@media (max-width: 1440px) {
    .event-menu {
        left: 5em;
    }
    .event-chat {
        right: 5em;
    }
}
@media (max-width: 1200px) {
    .event-menu {
        left: 2em;
    }
    .event-chat {
        right: 2em;
        width: 250px;
    }

    .e-modal-mi {
        left: 7em;
    }
}
