.history-container {
    margin-top: 5em;
    min-height: 100vh;
    background-color: var(--bgevent);
}

.history-title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 1em 0;
    color: var(--cam);
}

.history-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-back {
    width: 75%;
    margin: 0 auto;
    padding: 1.5em 0;
    margin-bottom: -2em;
    display: block;
}

.btn-back a {
    text-decoration: none;
    color: var(--trang);
    background-color: var(--cam);
    padding: 0.5em 0.5em;
    border-radius: 1em;
}

.history-bar {
    width: 75%;
    height: 1em;
    border: 2px solid var(--cam);
    border-radius: 10px;
    position: relative;
    margin: 1em 0;
}

.history-load {
    position: absolute;
    height: 0.8em;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: var(--cam);
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

.history-bar-mb {
    display: none;
}

.history-load-mb {
    display: none;
}

.history-date {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.history-block {
    width: 30%;
    padding: 1em;
    background-color: var(--trang);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    align-content: center;
    flex-wrap: nowrap;
}

.history-content {
    padding: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

.history-content h1 {
    font-size: 24px;
    padding: 1em 0;
    color: var(--cam);
}

.history-content ul {
    list-style: decimal-leading-zero;
    list-style-position: inside;
    color: var(--cam);
}

.history-content li {
    padding: 0.7em 0;
}

.history-content li span {
    font-weight: 700;
    cursor: pointer;
}

.e-modal-que {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 100;
    padding-top: 5em;
    width: 100%;
    /* Full width */
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.e-modal-card {
    width: auto;
    height: auto;
    position: absolute;
    left: 45%;
    top: 60%;
    margin-left: -150px;
    margin-top: -150px;
    background-color: white;
    z-index: 100;
    padding: 15px;
    border-radius: 10px;
}

.e-modal-card input[type=text],
select {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 15px;
}

.e-modal-card input[type=submit] {
    width: 100%;
    background-color: var(--cam);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.e-modal-card input[type=submit]:hover {
    background-color: var(--cam);
}

.e-modal-card button {
    background-color: var(--cam);
    /* Green */
    float: right;
    border: none;
    color: white;
    padding: 15px 15px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 10px;
}

.e-modal-card-result {
    width: auto;
    height: auto;
    position: absolute;
    left: 45%;
    top: 60%;
    /* margin-left: -150px; */
    margin-top: -150px;
    background-color: white;
    z-index: 100;
    padding: 15px;
    border-radius: 10px;
}

.e-modal-content-que {
    width: 25%;
    border-radius: 20px;
    height: auto;
    margin: auto;
    position: relative;
    /* background-color: var(--do); */
}

.e-close-que {
    color: var(--do);
    float: right;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
    padding: 0em;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 100%;
    background-color: var(--trang);
}

.e-modal-content-que img {
    width: 100%;
}

@media (max-width: 1440px) {
    .history-bar {
        width: 85%;
    }
    .history-date {
        width: 85%;
    }
    .btn-back {
        width: 85%;
    }
}

@media (max-width: 1200px) {
    .history-bar {
        width: 90%;
    }
    .history-date {
        width: 90%;
    }
    .btn-back {
        width: 90%;
    }
}

@media (max-width: 998px) {
    .history-container {
        margin-top: 3em;
    }
    .history-title {
        font-size: 30px;
    }
    .history-bar {
        display: none;
    }
    .btn-back {
        width: 100%;
        padding: 1.5em 0.7em;
    }
    .history-main {
        height: 60em;
        width: 100%;
        padding: 2em 0;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    }
    .history-bar-mb {
        display: block;
        width: 1em;
        height: 100%;
        border: 2px solid var(--cam);
        position: relative;
        border-radius: 10px;
        margin: 0 2em;
    }
    .history-load-mb {
        width: 0.8em;
        display: block;
        background-color: var(--cam);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
    }
    .history-date {
        flex-direction: column;
        width: 60%;
        height: 100%;
    }
    .history-block {
        width: auto;
        height: auto;
    }
    .history-content h1 {
        padding: 0.5em 0;
    }
    .history-content li {
        padding: 0.5em 0;
    }
}

@media (max-width: 550px) {
    .btn-back a span {
        display: none;
    }
    .history-title {
        font-size: 24px;
    }
    .history-main {
        height: 50em;
    }
    .history-content h1 {
        font-size: 18px;
    }
    .history-content li {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .history-main {
        justify-content: flex-start;
        padding-left: 1em;
    }
    .history-bar-mb {
        margin: 0 1em;
        width: 0.7em;
    }
    .history-load-mb {
        width: 0.5em;
    }
    .history-date {
        width: 100%;
    }
    .history-block {
        width: 90%;
    }
}