/* @import url("styles.css"); */


/* @import url("post.css"); */

.detail-container {
    padding: 6em 0;
}

.detail-flex {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.detail-header {
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 50%;
}

.detail-title {
    padding: 2em 0 1em;
}

.detail-title h2 {
    font-size: 45px;
    font-weight: 700;
}

.detail-img {
    width: 120%;
}

.detail-content {
    width: 50%;
    text-align: justify;
    line-height: 2em;
}

.detail-description p {
    /* padding: 1em 0; */
    font-size: 18px;
}

.detail-description img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Detail-copyright {
    display: flex;
    padding: 1em 0.2em;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.text-muted {
    width: auto;
    padding: 0.5em;
    color: var(--cam);
    border-radius: 20px;
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
}

.text-like i {
    padding-right: 0.5em;
    color: var(--cam);
    background-color: var(--trang);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.text-like i:active {
    font-size: 24px;
}

@media (max-width: 1440px) {
    .detail-content {
        width: 55%;
    }
    .detail-description img {
        width: 80%;
    }
    .detail-header {
        width: 55%;
    }
}

@media (max-width: 1200px) {
    .detail-content {
        width: 60%;
    }
    .detail-description img {
        width: 90%;
    }
    .detail-header {
        width: 60%;
    }
}

@media (max-width: 998px) {
    .detail-content {
        width: 65%;
    }
    .detail-header {
        width: 65%;
    }
    .detail-description img {
        width: 100%;
    }
    .detail-img {
        width: 110%;
    }
}

@media (max-width: 768px) {
    .detail-title h2 {
        font-size: 40px;
        font-weight: 700;
    }
    .detail-content {
        width: 70%;
    }
    .detail-header {
        width: 70%;
    }
    .detail-description p {
        font-size: 16px;
    }
    .detail-img {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .detail-title h2 {
        font-size: 30px;
        font-weight: 700;
    }
    .detail-content {
        width: 80%;
    }
    .detail-header {
        width: 80%;
    }
    .detail-description p {
        font-size: 16px;
    }
    .text-muted {
        font-size: 12px;
    }
}

@media (max-width: 425px) {
    .detail-title h2 {
        font-size: 24px;
        font-weight: 700;
    }
    .detail-content {
        width: 90%;
    }
    .detail-header {
        width: 90%;
    }
}

@media (max-width: 320px) {
    .detail-title h2 {
        font-size: 20px;
    }
    .text-muted {
        font-size: 10px;
    }
}