footer {
   margin-top: 20px;
   background-color: rgb(214, 210, 210);
}

.info {
   display: flex;
}

h2, p {
   text-align: left !important;
   padding: 0px !important;
}

.logof img {
   width: 200px;
   height: 200px;
   padding: 20px;
}

.contact {
   margin-left: 30px;
   margin-top: 20px;
}

.contact h2 {
   margin-right: 200px;
   font-size: 30px;
}

.contact img {
   width: 25px;
   height: 25px;
   margin-bottom: -7px;
}

.copyright {
   color: #778888;
   margin-top: 5px;
   margin-bottom: -5px;
   text-align: center;
   padding: 7px;
   font-weight: bold;
}