body {
   background-color: #FAFAFA;
   background-repeat: no-repeat;
   background-size: 500px 300px;
   background-position: center top 100px;
}

.navbar {
   height: 72px;
   background-color: white;
   display: flex;
   align-items: center;
}

#Logo {
   border-radius: 50%;
   width: 70px;
   height: 70px;
}

.LogoText {
   margin-left: 10px;
   display: flex;
   align-items: center;
}

#text-mask {
   background: url(/Image/t.gif);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   font-family: Charcoal;
   text-align: center;
   font-size: 30px;
   margin-left: 5px;
   font-weight: 400;
}

.navbar ul {
   list-style-type: none;
   margin: auto;
   padding: 0;
   float: right;
}

li {
   float: left;
   list-style-type: none;
   margin-left: 20px;
}

li a {
   display: block;
   color: rgb(37, 41, 37);
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 20px;
}

li a:hover {
   background-color: rgb(245, 238, 238);
}